/* General Font */
body {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  letter-spacing: 4px;
  text-align:center;
  vertical-align: middle;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
}

p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
}

/* fadeIns */

#fadeIn1, #fadeIn2 {
  opacity: 0.001;
}

/* Navbar */

.navbar-default {
  background-color: #ffffff;
  border-color: #dddddd;
  color: #0000000;
  opacity: 1.0;
  position:fixed;
}

navbar.a {
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
  font-size: 14px;
  letter-spacing: 4px;
  opacity: 1.0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #23333B;
    background-color: #ffffff;
}

/* Sections */

section:nth-of-type(4n+1) {
  background-color:#ffffff;
  font-color:3D5062;
}

section:nth-of-type(4n+2) {
  background-color: #3D5062;
  color: #ffffff;
}

section:nth-of-type(4n+3) {
  background-color:#ffffff;
  font-color:3D5062;
}

section:nth-of-type(4n+4) {
  background-color: #23333B;
  color: #ffffff;
}

/* Section 1 */

.section1 {
  text-align: center;
  width:100%;
}

img.emblem {
  position:relative;
  top:100px;
  padding-bottom:150px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Section 2 */

.section2 {

}

/* Section 3 */

/* Section 4 */

.section4 .row {
  margin-top: 30px;
  margin-bottom: 20px; 
  padding-bottom:20px;
  background-color: rgba(35,51,59,0.9);
}


.backgroundUnderlaySection4 {
    background: url(http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2012/5/18/1337331092888/Cwm-Idwal-Snowdonia.-Mich-007.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


